@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=fallback');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';


/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}
body{
    background-color: #E4FE68;
}
p{
    font-family: "Sora", sans-serif;
    font-weight: 400;
    text-align:justify;
}

h1{
    font-family: "Sora", sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 3rem;
}

[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  flex-shrink: 0;
  height: 1.5rem;
  width: 1.5rem;
  color: #0043ff;
  background-color: #fff;
  border-color: #e6e6e6;
  border-width: 2px;
  border-radius: 0.25rem;
  --tw-shadow: 0 0 #0000;
}



/* Additional styles 

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }


  .custom-number-input input:focus {
    outline: none !important;
    border-width: 0px;
  }

  .custom-number-input button:focus {
    outline: none !important;
    border-width: 0px;
  } 
*/
